main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.explain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.entrance{
    transition: 1s ease-in;
    color: aliceblue;
    font-size: 36px;
    text-shadow: 8px 8px 8px pink;
}
.entrance:hover{
    transition: 0.5s;
    text-shadow: 4px 4px pink;
}
.explain-child1{
    align-self: center;
    max-width: 70%;
    max-height: 200px;
}
.childth1{
    transition: 1s ease-in;
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 1.5vw;
}
.childth2{
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 1.5vw;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
}
.childth2:hover{
    transition: 0.3s ease-in;
    font-size: 1.4vw;
    color: bisque;
}
.childth2:active{
    transition: 0.7s ease-out;
    font-size: 1.3vw;
    color: pink;
}
#crew{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: #2D5F7C;
    border: 2px solid #2D5F7C;
    border-radius: 0.6rem;
    box-shadow: 8px 8px pink;
    width: 25%;
}
.card:hover{
    transition: .7s ease-in;
    border-radius: 0.8rem;
    box-shadow: 19px 19px pink;
}
.userImg{
    width: 30%;
    height: 90px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    align-self: center;
    background: pink;
    margin-top: 10px;
}
.nameSurename{
    color: aliceblue;
    font-size: 36px;
}
.age,.position{
    color: pink;
}
.contain{
    width: 70%;
    margin: auto;
    border: 2px solid white;
    color: pink;
}
.description{
    word-wrap: break-word;
    color: pink;
}

